
<!-- 
<!DOCTYPE html>
<html lang="ko">
<body style="padding-top:70px; color: #eee; background-color: #222; margin: auto; font-family: 'Lucida Grande', Verdana, Arial, sans-serif;">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <span class="navbar-brand mx-5 mb-0 font-weight-bold">PICO PROJECT</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'photo:index' %}">New</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'photo:rank_day' %}">Day</a>
                <a class="dropdown-item" href="{% url 'photo:rank_week' %}">Week</a>
                <a class="dropdown-item" href="{% url 'photo:rank_month' %}">Month</a>
                <a class="dropdown-item" href="{% url 'photo:rank_3month' %}">3Month</a>
                <a class="dropdown-item" href="{% url 'photo:rank_year' %}">Year</a>
                <a class="dropdown-item" href="{% url 'photo:rank_all' %}">All</a>
              </div>
          </li>
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'photo:follow' %}">Following<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Util
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                <div class="dropdown-divider"></div>
                
              </div>
          </li>

          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="{% url 'photo:photo_add' %}" class="dropdown-item">Photo</a>
              </div>
          </li>

          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="{% url 'photo:photo_change' %}" class="dropdown-item">Photo</a>
              </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{ search_word }}" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown mx-1 btn btn-dark">
            {% if user.is_active %}
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a>
            <div class="dropdown-menu">
              <a href="{% url 'profile' user.get_username %}" class="dropdown-item">Profile</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
              <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
            </div>
            {% else %}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i>&ensp;Anonymous&ensp;</a>
            <div class="dropdown-menu">
              <a href="{% url 'login' %}" class="dropdown-item">Login</a>
              <a href="{% url 'register' %}" class="dropdown-item">Register</a>
            </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      
    </div>
    {% block footer %}{% endblock %}
  </body>
</html> -->






{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block extra-style %}{% endblock %}
    {% block extra-script %}{% endblock %}
  </head>
	<body class="is-preload">
		<div id="page-wrapper">
    <!-- Header -->
      <header id="header">
        <h1 id="logo"><a href="{% url 'home' %}">PICO</a></h1>
        <nav id="nav">
          <ul>
            <li>
              <form action="{% url 'search' %}" method="GET">
                {% csrf_token %}
                <input type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{ search_word }}" required>
              </form>
            </li> 
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'photo:index' %}">Rank</a></li>
            <li><a href="{% url 'photo:follow' %}">Following</a></li>
            {% if user.is_active %}
              <li><a href="{% url 'profile' user.get_username %}"><i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a></li>
              <li><a href="{% url 'logout' %}" class="button primary">Sign out</a></li>
            {% else %}
              <li><a href="{% url 'login' %}" class="button primary">Sign In</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>

    <!-- Main -->
      <div id="main" class="wrapper style1">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </div>

    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; PICO_3KIM All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>
  <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>