<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{% block title %}Django Web Programming{% endblock %}</title>
    {% block extra-style %}{% endblock %}
    {% block extra-script %}{% endblock %}
</head>
<body style="padding-top:90px; color: #eee; background-color: #222;">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <span class="navbar-brand mx-5 mb-0 font-weight-bold">PICO PROJECT</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'bookmark:index' %}">Bookmark<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'blog:index' %}">Blog<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item btn btn-dark mx-1">
            <a class="nav-link" href="{% url 'photo:index' %}">Explore<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Util
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'blog:post_archive' %}">Archive</a>
              </div>
          </li>

          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'bookmark:add' %}">Bookmark</a>
                <a class="dropdown-item" href="{% url 'blog:add' %}">Post</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'photo:photo_add' %}" class="dropdown-item">Photo</a>
              </div>
          </li>

          <li class="nav-item dropdown btn btn-dark mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'bookmark:change' %}">Bookmark</a>
                <a class="dropdown-item" href="{% url 'blog:change' %}">Post</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'photo:photo_change' %}" class="dropdown-item">Photo</a>
              </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search' %}" method="GET">
          {% csrf_token %}
          <!--
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          -->
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{ search_word }}" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown mx-1 btn btn-dark">
            {% if user.is_active %}
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a>
            <div class="dropdown-menu">
              <a href="{% url 'profile' user.get_username %}" class="dropdown-item">Profile</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
              <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
            </div>
            {% else %}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i>&ensp;Anonymous&ensp;</a>
            <div class="dropdown-menu">
              <a href="{% url 'login' %}" class="dropdown-item">Login</a>
              <a href="{% url 'register' %}" class="dropdown-item">Register</a>
            </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>