{% extends "base.html" %}
{% load sorl_thumbnail %}
{% load widget_tweaks %}
{% block title %}{{ profile.user.username }}{% endblock %}
{% block content %}
<h1>{{ profile.user.username }}</h1>
<div>
    {% ifequal request.user.username profile.user.username %}
    picoin :  <a href="{% url 'mypicolog' user.get_username %}" class="btn btn-primary">{{ profile.PICOIN }}</a> 
    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'charge' %}">+</a>
    {% endifequal %}
</div>
<br>
<div> 
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-3 mb-5">       
            <div class="tumbnail">
                <a href="{{ photo.get_absolute_url }}">
                    {% thumbnail photo.image "128x128" crop="center" as im %}
                    <img src="{{ im.url }}" style="width: 100%;">
                    {% endthumbnail %}
                </a>
            </div>
            <ul>
                <li class="font-italic">{{ photo.title }}</li>
                <li class="font-italic">{{ photo.upload_dt|date:"Y-m-d" }}</li>
            </ul> 
        </div>
        {% endfor %}
    </div> 
</div>
{% endblock %}
