{% extends "base.html" %}
{% block body %}
<div id="register">
    <div class="col-md-6">
        <h1 class="text-danger">Register</h1>
        <hr>
        <div class="form-group">
            <label for="InputUsername" class="text-danger">Username :</label>
            <input type="text", class="form-control" id="username" name="InputUsername" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="InputEmail" class="text-danger">Eamil :</label>
            <input type="email" class="form-control" id="email" name="InputEmail" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="InputPassword" class="text-danger">Password :</label>
            <input type="password" class="form-control" id="password" name="InputPassword" placeholder="Enter password">
        </div>
        <button class="btn btn-danger" id="register">Register</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#register').click(function() {
            $.post('/apis/v1/users/login', {'username':$('#username').val(), 'email':$('#email').val(), 'password':$('#password').val()}, function(){
                alert('가입을 환영합니다.');
                window.location = "{% url 'login' %}";
            }).fail(function(data){
                alert(data.responseJSON.message);
            });
        });
    });
</script>
{% endblock %}