{% extends "base.html" %}
{% block titile %}photo_search.html{% endblock %}
{% block content %}
{% if search %}
    {% if search_word %}
        {% ifequal search_word|slice:":1" "@" %}
            {% for user in search %}
                <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
            {% endfor %}
        {% else %}
            {% for photo in search %}
                <h2><a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a></h2>
                {{ photo.modify_date|date:"N d, Y" }}
                <p>{{ photo.description }}</p>
                <p>{{ photo.owner.username }}</p>
            {% endfor %}
        {% endifequal %}
    {% endif %}
    {% if search_words %}
        {% for photo in search %}
            <h2><a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a></h2>
            {{ photo.modify_date|date:"N d, Y" }}
            <p>{{ photo.description }}</p>
            <p>{{ photo.owner.username }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    {% if search_word %}
        <b><i>Search Word({{ search_word }}) Not Found!</i></b>
    {% elif search_words %}
        <b><i>Search Word({{ search_words }}) Not Found!</i></b>
    {% endif %}
{% endif %}
{% endblock %}