{% extends "base.html" %}
{% load disqus_tags %}
{% block title %}photo_detail.html{% endblock %}
{% block content %}
<header class="major">
    <h2>{{ object.title }}</h2>
    <p>{{ object.owner.username }}</p>
    {% ifnotequal request.user.username object.owner.username %}
    <p><a href="{% url 'photo:photo_donate' object.id %}" class="button primary">Donate</a></p>
    {% endifnotequal %}
</header>
<section id="content">
    <div class="col-12">
        <a href="{{ object.image.url }}">
            <span class="image fit">
                <img src="{{ object.image.url }}" sylte="width: 100%;">
            </span>
        </a>
    </div>
    <ul class="col-12">
        <li class="h5">Photo Description</li>
        {% if object.description %}
        <p>{{ object.description|linebreaks }}</p>
        {% else %}
        <p>{{ blank }}</p>
        {% endif %}
        <li class="h5">Date Uploaded</li>
        <p>{{ object.upload_dt }}</p>
        <li class="h5">PICOIN</li>
        <p><a href="{% url 'photo:photo_pico_log' object.id %}" class="button primary small">{{ object.PICOIN }}</a></p>
        {% if donate_user_list %}
        <li class="h5">RANK</li>
        <table>
            <tbody>
                {% for donate_user in donate_user_list %}
                <tr>
                    <td><a href="{% url 'profile' donate_user.0.username %}">{{ donate_user.0.username }}</a></td>
                    <td>{{ donate_user.1.total_PICO }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}   
        <li>
            <div>
                <b>TAGS</b><i class="fas fa-tag"></i>
                {% load taggit_templatetags2_tags %}
                {% get_tags_for_object object as "tags" %}
                {% for tag in tags %}
                <a href="{% url 'photo:tagged_object_list' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
                &emsp;
            </div>
        
        </li>    
    </ul>
    <div>      
        {% disqus_show_comments %}
    </div>
</section>
{% endblock %}





