{% extends "base.html" %}
{% block title %}photo_donate.html{% endblock %}
{% block content %}
<section id="content">
    <div class="col-12">
        <a href="{{ object.image.url }}">
            <span class="image fit">
                <img src="{{ object.image.url }}" sylte="width: 100%;">
            </span>
        </a>
    </div>
    <li>
        You have {{ request.user.profile.PICOIN }}
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
        </form>
    </li>
</section>
{% endblock %}