{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}login.html{% endblock %}
{% block content %}
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="{% static 'images/firework4-2.jpg' %}" alt="" /></span>
    <div class="content">
        <header class="major">
            <h2>Please Login</h2>
            {% if form.errors %}
            <p>{{ form.errors }}</p>
            {% endif %}
        </header>
        <form action="." method="POST" >
            {% csrf_token %}
            <div class="row gtr-uniform gtr-50">
                <div class="col-12">
                    {{ form.username|append_attr:"class:form-control"|append_attr:"placeholder:Username" }}
                </div>
                <div class="col-12">
                    {{ form.password|append_attr:"class:form-control"|append_attr:"placeholder:Password" }}
                </div>
                <div class="row">
                    <div class="col-6 col-12">
                        <ul class="actions fit">
                            <li><input type="submit" value="Sign in" class="button primary"><input type="hidden" name="next" value="{{ next }}"></li>
                            <li><a href="{% url 'password_reset' %}" class="button">Forgot Password</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-12">
                        <ul class="actions fit small">
                            <li><a href="{% url 'register' %}" class="button">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</section> 
    
</div>
{% endblock %}