{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}password_change_form.html{% endblock %}
{% block content%}
<div class="content">
    <header class="major">
        <h2>{{ title }}</h2>
        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}
    </header>
    <form action="." method="POST" >
        {% csrf_token %}
        <div class="row gtr-uniform gtr-50">
            <div class="col-12">
                {{ form.old_password|append_attr:"class:form-control"|append_attr:"placeholder:Password" }}
            </div>
            <div class="col-12">
                {{ form.new_password1|append_attr:"class:form-control"|append_attr:"placeholder:New Password" }}
            </div>
            <div class="col-12">
                {{ form.new_password2|append_attr:"class:form-control"|append_attr:"placeholder:New Password(Check)" }}
            </div>
            <div class="row">
                <div class="col-6 col-12">
                    <ul class="actions fit">
                        <li><input type="submit" value="Password Change" class="button primary"></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}